<div class="flex justify-between items-center p-2">
    <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 active:bg-blue-900" (click)="decrementDate()"><i class="fa-solid fa-arrow-left"></i></button>
    <p class="text-center">{{ formattedDate }}</p>
    <button class="bg-blue-500 text-white px-4 py-2 rounded
    hover:bg-blue-600 active:bg-blue-900" (click)="incrementDate()"><i class="fa-solid fa-arrow-right"></i></button>
</div>


<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Hora
                </th>
                <th scope="col" class="px-6 py-3">
                    Monitor1
                </th>
                <th scope="col" class="px-6 py-3">
                    Monitor2
                </th>
                <th scope="col" class="px-6 py-3">
                    Actividad
                </th>
                <th scope="col" class="px-6 py-3">
                    Acción
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Apple MacBook Pro 17"
                </th>
                <td class="px-6 py-4">
                    Silver
                </td>
                <td class="px-6 py-4">
                    Laptop
                </td>
                <td class="px-6 py-4">
                    $2999
                </td>
            </tr>
            
        </tbody>
    </table>
</div>

  